# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
# Data Science Tools and Ecosystem

# introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use
- Some commonly used libraries used by Data Scientists
- Some open source tools used in data science
- convert minutes to hours
- Some arithmatic expressions

# Create a markdown cell to list data science languages
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia
7. MatLab

# Create a markdown cell to list data science libraries
# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. TensorFlow
5. ggplot2

# Create a markdown cell with a table of Data Science tools
| Data Science Tools |
| ------ |
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin|

# Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
2+3

5

In [7]:
3+1

4

In [8]:
6+7

13

In [9]:
# Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# Create a code cell to convert minutes to hours
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Debarupa Biswas